<%= form_for(@hospede) do |f| %>
  <% if @hospede.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospede.errors.count, "error") %> prohibited this hospede from being saved:</h2>
      <ul>
      <% @hospede.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well span11">
    <div class="span3">
      <label for="hospede_cpf">CPF: </label>
      <input id="hospede_cpf" name="hospede[cpf]" type="text" class="input-block-level" />
    </div>
    <div class="span7">
      <label for="hospede_nome">Nome: </label>
      <input id="hospede_nome" name="hospede[nome]" type="text" class="input-block-level" />
    </div>
    <div class="span8">
      <label for="hospede_logradouro">Logradouro: </label>
      <input id="hospede_logradouro" name="hospede[logradouro]" type="text" class="input-block-level" />
    </div>
    <div class="span2">
      <label for="hospede_numero">Numero: </label>
      <input id="hospede_numero" name="hospede[numero]" type="text" class="input-block-level" />
    </div>
    <div class="span2">
      <label for="hospede_complemento">Complemento: </label>
      <input id="hospede_complemento" name="hospede[complemento]" type="text" class="input-block-level" />
    </div>
    <div class="span3">
      <label for="hospede_bairro">Bairro: </label>
      <input id="hospede_bairro" name="hospede[bairro]" type="text" class="input-block-level" />
    </div>
    <div class="span3">
      <label for="hospede_cidade">Cidade: </label>
      <input id="hospede_cidade" name="hospede[cidade]" type="text" class="input-block-level" />
    </div>
    <div class="span2">
      <label for="hospede_estado">Estado: </label>
      <input id="hospede_estado" name="hospede[estado]" type="text" class="input-block-level" />
    </div>
  </div>
  <div class="span11">
    <div class="span10">
      <div class="actions pull-right">
        <input type="submit" class="btn btn-info">
      </div>
	</div>
  </div>
<% end %>
